.css_idstudent_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idstudent_grid_line {vertical-align: top;text-align: right;}
.css_entorno_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_entorno_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
