.css_idstudent_det_label {text-align: right;vertical-align: middle;}
.css_idstudent_det_line {height:0px;text-align: right;}
.css_entorno_det_label {text-align: right;vertical-align: middle;}
.css_entorno_det_line {height:0px;text-align: right;}
.css_id_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: right;}
