.css_t_evaluacion_id_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_estudiante_grid_line {font-size:12px;vertical-align: top;text-align: right;}
.css_t_evaluacion_novedad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_novedad_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_inasistencia_p1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_inasistencia_p1_grid_line {vertical-align: top;text-align: right;}
.css_re_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_re_grid_line {text-align: center;}
.css_t_evaluacion_eval_1_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_eval_1_per_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_eval_2_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_eval_2_per_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_eval_3_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_eval_3_per_grid_line {vertical-align: top;text-align: right;}
.css_fa_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fa_grid_line {text-align: center;}
.css_vra_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vra_grid_line {text-align: center;}
.css_t_evaluacion_dc1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_dc1_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_dc2_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_dc2_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_dc3_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_dc3_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_dc4_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_dc4_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_dc5_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_dc5_grid_line {vertical-align: top;text-align: right;}
.css_val_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_val_grid_line {text-align: center;}
