.css_t_estudiante_grupo_idstudent_det_label {text-align: right;vertical-align: middle;}
.css_t_estudiante_grupo_idstudent_det_line {height:0px;text-align: right;}
.css_novedades_x_estudiante_fecha_id_novedad_det_label {text-align: right;vertical-align: middle;}
.css_novedades_x_estudiante_fecha_id_novedad_det_line {height:0px;text-align: right;}
.css_students_estatus_det_label {text-align: right;vertical-align: middle;}
.css_students_estatus_det_line {height:0px;text-align: right;}
.css_nom_estudiante_det_label {text-align: right;vertical-align: middle;}
.css_nom_estudiante_det_line {height:0px;text-align: right;}
