.css_students_primer_apellido_det_label {text-align: left;vertical-align: middle;}
.css_students_primer_apellido_det_line {height:0px;text-align: left;}
.css_students_tipo_identificacion_det_label {text-align: left;vertical-align: middle;}
.css_students_tipo_identificacion_det_line {height:0px;text-align: left;}
.css_students_numero_documento_det_label {text-align: left;vertical-align: middle;}
.css_students_numero_documento_det_line {height:0px;text-align: left;}
.css_students_segundo_nombre_det_label {text-align: left;vertical-align: middle;}
.css_students_segundo_nombre_det_line {height:0px;text-align: left;}
.css_students_estatus_det_label {text-align: left;vertical-align: middle;}
.css_students_estatus_det_line {height:0px;text-align: left;}
