.css_id_nov_exclu__label {text-align:left;}
.css_id_nov_exclu__line {text-align:left;}
.css_id_nov_exclu__obj {text-align:left;}
.css_id_novedad__label {text-align:left;}
.css_id_novedad__line {text-align:left;}
.css_id_novedad__obj {text-align:left;}
