.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_nombre_inst_label { }
.css_nombre_inst_line { }
.css_nombre_inst_obj { }
.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_cod_dane_label { }
.css_cod_dane_line { }
.css_cod_dane_obj { }
.css_iddepartamento_label { }
.css_iddepartamento_line {text-align:left;}
.css_iddepartamento_obj {text-align:left;}
.css_idmunicipio_label { }
.css_idmunicipio_line {text-align:left;}
.css_idmunicipio_obj {text-align:left;}
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_telefonos_label { }
.css_telefonos_line { }
.css_telefonos_obj { }
.css_rector_label { }
.css_rector_line { }
.css_rector_obj { }
.css_enunciado_label { }
.css_enunciado_line { }
.css_enunciado_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_logo_byte_label { }
.css_logo_byte_line { }
.css_logo_byte_obj { }
