.css_linea1_grid_line {text-align: right;}
.css_id_area_grid_line {font-family:Arial, sans-serif;font-weight:bold;vertical-align: top;text-align: right;}
.css_linea5_grid_line {text-align: right;}
.css_eval_area_grid_line {font-family:Arial, sans-serif;font-weight:bold;text-align: right;}
.css_linea_grid_line {text-align: right;}
.css_desempeno_grid_line {font-family:Arial, sans-serif;font-weight:bold;text-align: right;}
.css_asignaturas_grid_line {text-align: right;}
