.css_id_subgrupo_det_label {text-align: right;vertical-align: middle;}
.css_id_subgrupo_det_line {height:0px;text-align: right;}
.css_id_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: right;}
.css_nombre_subgrupo_det_label {text-align: right;vertical-align: middle;}
.css_nombre_subgrupo_det_line {height:0px;text-align: right;}
