.css_nom_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_estudiante_grid_line {font-size:12px;vertical-align: top;text-align: right;}
.css_novedades_x_estudiante_fecha_id_novedad_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_novedades_x_estudiante_fecha_id_novedad_grid_line {vertical-align: top;text-align: right;}
.css_fa_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fa_grid_line {text-align: center;}
.css_re_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_re_grid_line {text-align: center;}
.css_p1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p1_grid_line {text-align: center;}
.css_p2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p2_grid_line {text-align: center;}
.css_p3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p3_grid_line {text-align: center;}
.css_vac_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vac_grid_line {text-align: center;}
.css_vra_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vra_grid_line {text-align: center;}
.css_col1_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col1_grid_line {text-align: center;}
.css_col2_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col2_grid_line {text-align: center;}
.css_col3_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col3_grid_line {text-align: center;}
.css_col4_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col4_grid_line {text-align: center;}
.css_col5_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col5_grid_line {text-align: center;}
.css_par_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_par_grid_line {text-align: center;}
.css_aux1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_aux1_grid_line {text-align: center;}
.css_aux2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_aux2_grid_line {text-align: center;}
.css_aux3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_aux3_grid_line {text-align: center;}
.css_aux4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_aux4_grid_line {text-align: center;}
.css_t_estudiante_grupo_idstudent_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_estudiante_grupo_idstudent_grid_line {vertical-align: top;text-align: right;}
