.css_id_estudiante__label {text-align:right;}
.css_id_estudiante__line {text-align:left;}
.css_id_estudiante__obj {text-align:left;}
.css_id_grupo__label {text-align:right;}
.css_id_grupo__line {text-align:left;}
.css_id_grupo__obj {text-align:left;}
.css_id_area__label {text-align:right;}
.css_id_area__line {text-align:left;}
.css_id_area__obj {text-align:left;}
.css_id_asignatura__label {text-align:right;}
.css_id_asignatura__line {text-align:left;}
.css_id_asignatura__obj {text-align:left;}
.css_id_grado__label {text-align:right;}
.css_id_grado__line {text-align:left;}
.css_id_grado__obj {text-align:left;}
.css_id_nivel__label {text-align:right;}
.css_id_nivel__line {text-align:left;}
.css_id_nivel__obj {text-align:left;}
.css_ihs__label {text-align:right;}
.css_ihs__line {text-align:left;}
.css_ihs__obj {text-align:left;}
.css_pfa__label {text-align:right;}
.css_pfa__line {text-align:left;}
.css_pfa__obj {text-align:left;}
.css_tipo_asig__label { }
.css_tipo_asig__line { }
.css_tipo_asig__obj { }
.css_eval_1_per__label {text-align:right;}
.css_eval_1_per__line {text-align:left;}
.css_eval_1_per__obj {text-align:left;}
.css_eval_2_per__label {text-align:right;}
.css_eval_2_per__line {text-align:left;}
.css_eval_2_per__obj {text-align:left;}
.css_eval_3_per__label {text-align:right;}
.css_eval_3_per__line {text-align:left;}
.css_eval_3_per__obj {text-align:left;}
.css_eval_4_per__label {text-align:right;}
.css_eval_4_per__line {text-align:left;}
.css_eval_4_per__obj {text-align:left;}
.css_eval_final__label {text-align:right;}
.css_eval_final__line {text-align:left;}
.css_eval_final__obj {text-align:left;}
.css_entorno__label {text-align:right;}
.css_entorno__line {text-align:left;}
.css_entorno__obj {text-align:left;}
