.css_id_docente_det_label {text-align: right;vertical-align: middle;}
.css_id_docente_det_line {height:0px;text-align: right;}
.css_documento_det_label {text-align: right;vertical-align: middle;}
.css_documento_det_line {font-size:10px;height:0px;text-align: right;}
.css_primer_apellido_det_label {text-align: right;vertical-align: middle;}
.css_primer_apellido_det_line {height:0px;text-align: right;}
.css_segundo_apellido_det_label {text-align: right;vertical-align: middle;}
.css_segundo_apellido_det_line {height:0px;text-align: right;}
.css_primer_nombre_det_label {text-align: right;vertical-align: middle;}
.css_primer_nombre_det_line {height:0px;text-align: right;}
.css_segundo_nombre_det_label {text-align: right;vertical-align: middle;}
.css_segundo_nombre_det_line {height:0px;text-align: right;}
.css_iddepartamento_det_label {text-align: right;vertical-align: middle;}
.css_iddepartamento_det_line {height:0px;text-align: right;}
.css_idmunicipio_det_label {text-align: right;vertical-align: middle;}
.css_idmunicipio_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {font-size:10px;height:0px;text-align: right;}
.css_tel_fijo_det_label {text-align: right;vertical-align: middle;}
.css_tel_fijo_det_line {font-size:10px;height:0px;text-align: right;}
.css_tel_celular_det_label {text-align: right;vertical-align: middle;}
.css_tel_celular_det_line {font-size:10px;height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {font-size:10px;height:0px;text-align: right;}
.css_id_area_det_label {text-align: right;vertical-align: middle;}
.css_id_area_det_line {font-size:10px;width:300;height:0px;text-align: right;}
.css_login_det_label {text-align: right;vertical-align: middle;}
.css_login_det_line {height:0px;text-align: right;}
.css_foto_det_label {text-align: right;vertical-align: middle;}
.css_foto_det_line {height:0px;text-align: right;}
.css_perfil_det_label {text-align: right;vertical-align: middle;}
.css_perfil_det_line {height:0px;text-align: right;}
