.css_id_inasistencia_label { }
.css_id_inasistencia_line {text-align:left;}
.css_id_inasistencia_obj {text-align:left;}
.css_idstudents_label { }
.css_idstudents_line {text-align:left;}
.css_idstudents_obj {text-align:left;}
.css_id_grado_label { }
.css_id_grado_line {text-align:left;}
.css_id_grado_obj {text-align:left;}
.css_id_grupo_label { }
.css_id_grupo_line {text-align:left;}
.css_id_grupo_obj {text-align:left;}
.css_id_asignatura_label { }
.css_id_asignatura_line {text-align:left;}
.css_id_asignatura_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_hora_label { }
.css_hora_line { }
.css_hora_obj { }
.css_estudiante_label { }
.css_estudiante_line { }
.css_estudiante_obj { }
