.css_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_n_simpl_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_n_simpl_grid_line {vertical-align: top;text-align: right;}
.css_tipo_asig_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_asig_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
