.css_id_grado_label { }
.css_id_grado_line {text-align:left;}
.css_id_grado_obj {text-align:left;}
.css_id_grupo_label { }
.css_id_grupo_line {text-align:left;}
.css_id_grupo_obj {text-align:left;}
.css_id_area_label { }
.css_id_area_line {text-align:left;}
.css_id_area_obj {text-align:left;}
.css_id_asign_label { }
.css_id_asign_line {text-align:left;}
.css_id_asign_obj {text-align:left;}
.css_periodo_label { }
.css_periodo_line { }
.css_periodo_obj { }
.css_posicion_label { }
.css_posicion_line { }
.css_posicion_obj { }
.css_cod_desemp_label { }
.css_cod_desemp_line {text-align:left;}
.css_cod_desemp_obj {text-align:left;}
.css_gra_label { }
.css_gra_line { }
.css_gra_obj { }
.css_gru_label { }
.css_gru_line { }
.css_gru_obj { }
.css_are_label {font-size:11px;}
.css_are_line {font-size:11px;}
.css_are_obj {font-size:11px;}
.css_asign_label { }
.css_asign_line { }
.css_asign_obj { }
.css_peri_label { }
.css_peri_line { }
.css_peri_obj {text-align:right;}
.css_cod_de_label { }
.css_cod_de_line { }
.css_cod_de_obj {text-align:right;}
