.css_id_novedad_det_label {text-align: left;vertical-align: middle;}
.css_id_novedad_det_line {height:0px;text-align: left;}
.css_novedad_det_label {text-align: left;vertical-align: middle;}
.css_novedad_det_line {height:0px;text-align: left;}
