.css_id_novedad_det_label {text-align: right;vertical-align: middle;}
.css_id_novedad_det_line {height:0px;text-align: right;}
.css_novedad_det_label {text-align: right;vertical-align: middle;}
.css_novedad_det_line {height:0px;text-align: right;}
