.css_periodos__label { }
.css_periodos__line { }
.css_periodos__obj { }
.css_peso__label {text-align:right;}
.css_peso__line {text-align:left;}
.css_peso__obj {text-align:left;}
.css_apertura__label { }
.css_apertura__line { }
.css_apertura__obj { }
.css_cierre__label { }
.css_cierre__line { }
.css_cierre__obj { }
