.css_id_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_area_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_id_docente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_docente_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_intensidad_horaria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_intensidad_horaria_grid_line {vertical-align: top;text-align: right;}
.css_form_jack_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_form_jack_grid_line {text-align: right;}
.css_form2_joe_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_form2_joe_grid_line {text-align: right;}
.css_id_docente_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_docente_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
