.css_id_docente_grupo_det_label {text-align: left;vertical-align: middle;}
.css_id_docente_grupo_det_line {height:0px;text-align: left;}
.css_id_grupo_det_label {text-align: left;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: left;}
.css_id_area_det_label {text-align: left;vertical-align: middle;}
.css_id_area_det_line {font-size:10px;width:180;height:0px;text-align: left;}
.css_id_asignatura_det_label {text-align: left;vertical-align: middle;}
.css_id_asignatura_det_line {font-size:10px;width:180;height:0px;text-align: left;}
.css_id_docente_det_label {text-align: left;vertical-align: middle;}
.css_id_docente_det_line {font-size:10px;width:180;height:0px;text-align: left;}
.css_intensidad_horaria_det_label {text-align: left;vertical-align: middle;}
.css_intensidad_horaria_det_line {height:0px;text-align: left;}
.css_peso_asig_fre_area_det_label {text-align: left;vertical-align: middle;}
.css_peso_asig_fre_area_det_line {height:0px;text-align: left;}
.css_tipo_asig_det_label {text-align: left;vertical-align: middle;}
.css_tipo_asig_det_line {height:0px;text-align: left;}
