.css_id_estudiante_label { }
.css_id_estudiante_line {text-align:left;}
.css_id_estudiante_obj {text-align:left;}
.css_id_periodo_label { }
.css_id_periodo_line {text-align:left;}
.css_id_periodo_obj {text-align:left;}
.css_id_grupo_label { }
.css_id_grupo_line {text-align:left;}
.css_id_grupo_obj {text-align:left;}
.css_entorno_label { }
.css_entorno_line {text-align:left;}
.css_entorno_obj {text-align:left;}
.css_evaluacion_label {font-size:12px;width:30px;}
.css_evaluacion_line {font-size:12px;text-align:left;width:30px;}
.css_evaluacion_obj {font-size:12px;text-align:left;width:30px;}
