.css_id_estudiante_det_label {text-align: left;vertical-align: middle;}
.css_id_estudiante_det_line {height:0px;text-align: left;}
.css_id_area_det_label {text-align: left;vertical-align: middle;}
.css_id_area_det_line {height:0px;text-align: left;}
.css_entorno_det_label {text-align: left;vertical-align: middle;}
.css_entorno_det_line {height:0px;text-align: left;}
