.css_desem_asig1_label {text-align:left;}
.css_desem_asig1_grid_line {}
.css_desem_asig2_label {text-align:left;}
.css_desem_asig2_grid_line {}
.css_desem_asig3_label {text-align:left;}
.css_desem_asig3_grid_line {}
.css_desem_asig4_label {text-align:left;}
.css_desem_asig4_grid_line {}
.css_desem_asig5_label {text-align:left;}
.css_desem_asig5_grid_line {}
.css_desem_asig6_label {text-align:left;}
.css_desem_asig6_grid_line {}
.css_desem_asig7_label {text-align:left;}
.css_desem_asig7_grid_line {}
.css_desem_asig8_label {text-align:left;}
.css_desem_asig8_grid_line {}
.css_desem_asig9_label {text-align:left;}
.css_desem_asig9_grid_line {}
.css_desem_asig10_label {text-align:left;}
.css_desem_asig10_grid_line {}
.css_desem_asig11_label {text-align:left;}
.css_desem_asig11_grid_line {}
.css_desem_asig12_label {text-align:left;}
.css_desem_asig12_grid_line {}
