.css_id_modelo_eval_label { }
.css_id_modelo_eval_line {text-align:left;}
.css_id_modelo_eval_obj {text-align:left;}
.css_etiqueta_grupo_1_label { }
.css_etiqueta_grupo_1_line { }
.css_etiqueta_grupo_1_obj { }
.css_porcentaje_grupo1_label { }
.css_porcentaje_grupo1_line {text-align:left;}
.css_porcentaje_grupo1_obj {text-align:left;}
.css_etiqueta_grupo_2_label { }
.css_etiqueta_grupo_2_line { }
.css_etiqueta_grupo_2_obj { }
.css_criterio_1_grupo2_label { }
.css_criterio_1_grupo2_line { }
.css_criterio_1_grupo2_obj { }
.css_criterio_2_grupo2_label { }
.css_criterio_2_grupo2_line { }
.css_criterio_2_grupo2_obj { }
.css_criterio_3_grupo2_label { }
.css_criterio_3_grupo2_line { }
.css_criterio_3_grupo2_obj { }
.css_criterio_4_grupo2_label { }
.css_criterio_4_grupo2_line { }
.css_criterio_4_grupo2_obj { }
.css_criterio_5_grupo2_label { }
.css_criterio_5_grupo2_line { }
.css_criterio_5_grupo2_obj { }
.css_porcentaje_grupo2_label { }
.css_porcentaje_grupo2_line {text-align:left;}
.css_porcentaje_grupo2_obj {text-align:left;}
.css_etiqueta_grupo_3_label { }
.css_etiqueta_grupo_3_line { }
.css_etiqueta_grupo_3_obj { }
.css_criterio_1_grupo3_label { }
.css_criterio_1_grupo3_line { }
.css_criterio_1_grupo3_obj { }
.css_criterio_2_grupo3_label { }
.css_criterio_2_grupo3_line { }
.css_criterio_2_grupo3_obj { }
.css_criterio_3_grupo3_label { }
.css_criterio_3_grupo3_line { }
.css_criterio_3_grupo3_obj { }
.css_criterio_4_grupo3_label { }
.css_criterio_4_grupo3_line { }
.css_criterio_4_grupo3_obj { }
.css_criterio_5_grupo3_label { }
.css_criterio_5_grupo3_line { }
.css_criterio_5_grupo3_obj { }
.css_porcentaje_grupo3_label { }
.css_porcentaje_grupo3_line {text-align:left;}
.css_porcentaje_grupo3_obj {text-align:left;}
.css_etiqtiqueta_autoevaluacion_label { }
.css_etiqtiqueta_autoevaluacion_line { }
.css_etiqtiqueta_autoevaluacion_obj { }
.css_porcentaje_autoevaluacion_label { }
.css_porcentaje_autoevaluacion_line {text-align:left;}
.css_porcentaje_autoevaluacion_obj {text-align:left;}
.css_id_modelo_label { }
.css_id_modelo_line {text-align:left;}
.css_id_modelo_obj {text-align:left;}
