.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: right;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: right;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: right;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
