.css_students_idstudents_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_students_idstudents_grid_line {vertical-align: top;text-align: right;}
.css_estudiantes_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_estudiantes_grid_line {text-align: right;}
.css_t_estudiante_grupo_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_estudiante_grupo_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_disciplina_entorno_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_disciplina_entorno_grid_line {vertical-align: top;text-align: right;}
.css_disciplina_id_periodo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_disciplina_id_periodo_grid_line {vertical-align: top;text-align: right;}
.css_eval_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_eval_grid_line {text-align: center;}
.css_disciplina_evaluacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_disciplina_evaluacion_grid_line {vertical-align: top;text-align: right;}
.css_students_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_primer_apellido_grid_line {vertical-align: top;text-align: right;}
.css_students_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_segundo_apellido_grid_line {vertical-align: top;text-align: right;}
.css_students_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_primer_nombre_grid_line {vertical-align: top;text-align: right;}
.css_students_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_segundo_nombre_grid_line {vertical-align: top;text-align: right;}
