.css_primera_firma_label { }
.css_primera_firma_line { }
.css_primera_firma_obj { }
.css_cargo_pri_firma_label { }
.css_cargo_pri_firma_line { }
.css_cargo_pri_firma_obj { }
.css_segunda_firma_label { }
.css_segunda_firma_line { }
.css_segunda_firma_obj { }
.css_cargo_seg_firma_label { }
.css_cargo_seg_firma_line { }
.css_cargo_seg_firma_obj { }
.css_encabezado_label { }
.css_encabezado_line {width:800px;}
.css_encabezado_obj {width:800px;}
.css_pie_pagina_label { }
.css_pie_pagina_line {width:800px;}
.css_pie_pagina_obj {width:800px;}
.css_grado_label { }
.css_grado_line { }
.css_grado_obj { }
.css_grupo_label { }
.css_grupo_line { }
.css_grupo_obj { }
.css_estudiante_label { }
.css_estudiante_line { }
.css_estudiante_obj { }
.css_tipo_impresion_label { }
.css_tipo_impresion_line { }
.css_tipo_impresion_obj { }
