.css_id_informe_general_periodo_label { }
.css_id_informe_general_periodo_line {text-align:left;}
.css_id_informe_general_periodo_obj {text-align:left;}
.css_id_estudiante_label { }
.css_id_estudiante_line {text-align:left;}
.css_id_estudiante_obj {text-align:left;}
.css_id_grupo_label { }
.css_id_grupo_line {text-align:left;}
.css_id_grupo_obj {text-align:left;}
.css_id_periodo_label { }
.css_id_periodo_line {text-align:left;}
.css_id_periodo_obj {text-align:left;}
.css_id_director_grupo_label { }
.css_id_director_grupo_line {text-align:left;}
.css_id_director_grupo_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_grupo_label { }
.css_grupo_line { }
.css_grupo_obj { }
.css_dir_grupo_label { }
.css_dir_grupo_line { }
.css_dir_grupo_obj { }
