.css_t_grupos_id_grado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_grupos_id_grado_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_asignatura_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_grupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_grupo_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_crea_desempeno_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_crea_desempeno_grid_line {text-align: center;}
.css_sc_field_0_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: center;}
.css_evalua_periodo_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodo_grid_line {text-align: center;}
.css_evlua_periodom2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evlua_periodom2_grid_line {text-align: center;}
.css_evlua_periodom3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evlua_periodom3_grid_line {text-align: center;}
.css_evlua_periodom4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evlua_periodom4_grid_line {text-align: center;}
.css_evlua_periodom5_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evlua_periodom5_grid_line {text-align: center;}
.css_evlua_periodom6_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evlua_periodom6_grid_line {text-align: center;}
.css_evalua_periodo1_m7_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodo1_m7_grid_line {text-align: center;}
.css_evalua_periodom8_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodom8_grid_line {text-align: center;}
.css_evalua_disc_confam_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_disc_confam_grid_line {text-align: center;}
.css_evalua_periodo1_mo9_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodo1_mo9_grid_line {text-align: center;}
.css_evalua_periodom10_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodom10_grid_line {text-align: center;}
.css_evalua_p1_m11_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_p1_m11_grid_line {text-align: center;}
.css_evalua_disciplina_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_disciplina_grid_line {text-align: center;}
.css_evalua_periodomp1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodomp1_grid_line {text-align: center;}
.css_evalua_tec_iti_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_tec_iti_grid_line {text-align: center;}
.css_evalua_periodo_tran_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_periodo_tran_grid_line {text-align: center;}
.css_obs_asig_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_obs_asig_grid_line {text-align: center;}
.css_eval_pendiente_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_eval_pendiente_grid_line {text-align: center;}
.css_ref_acade_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_ref_acade_grid_line {text-align: center;}
.css_enviar_tarea_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_enviar_tarea_grid_line {text-align: center;}
.css_director_grupo_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_director_grupo_grid_line {text-align: center;}
.css_boton_superar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_boton_superar_grid_line {text-align: center;}
.css_evalua_pp_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_pp_grid_line {text-align: right;}
.css_evaluar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluar_grid_line {text-align: right;}
