.css_t_asignaturas_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asignaturas_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_ihs_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_ihs_grid_line {text-align: right;}
.css_c_evaluacion_evaluacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_c_evaluacion_evaluacion_grid_line {vertical-align: top;text-align: right;}
.css_desempeno_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_desempeno_grid_line {text-align: right;}
