.css_nombre_label {text-align:left;vertical-align:middle;font-weight:normal;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_novedades_novedad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_novedades_novedad_grid_line {font-size:10px;vertical-align: top;text-align: left;}
.css_col1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col1_grid_line {text-align: center;}
.css_col2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col2_grid_line {text-align: center;}
.css_col3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col3_grid_line {text-align: center;}
.css_col4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col4_grid_line {text-align: center;}
.css_col5_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col5_grid_line {text-align: center;}
.css_col6_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col6_grid_line {text-align: center;}
.css_col7_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col7_grid_line {text-align: center;}
.css_col8_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col8_grid_line {text-align: center;}
.css_col9_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col9_grid_line {text-align: center;}
.css_col10_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col10_grid_line {text-align: center;}
.css_col11_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col11_grid_line {text-align: center;}
.css_col12_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col12_grid_line {text-align: center;}
.css_col13_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col13_grid_line {text-align: center;}
.css_col14_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col14_grid_line {text-align: center;}
.css_col15_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col15_grid_line {text-align: center;}
.css_col16_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col16_grid_line {text-align: center;}
.css_col17_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_col17_grid_line {text-align: center;}
