.css_id_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_area_grid_line {font-size:11px;vertical-align: top;text-align: right;}
.css_eval_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_eval_area_grid_line {font-size:11px;text-align: right;}
.css_desempeno_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_desempeno_grid_line {font-size:11px;text-align: right;}
.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_asignaturas_grid_line {text-align: center;}
