.css_id_naf__label { }
.css_id_naf__line {text-align:left;}
.css_id_naf__obj {text-align:left;}
.css_idstudents__label { }
.css_idstudents__line {text-align:left;}
.css_idstudents__obj {text-align:left;}
.css_id_novedad__label { }
.css_id_novedad__line {text-align:left;}
.css_id_novedad__obj {text-align:left;}
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_observaciones__label { }
.css_observaciones__line { }
.css_observaciones__obj { }
