.css_id_area__label {font-size:9px;text-align:left;}
.css_id_area__line {font-size:9px;text-align:left;}
.css_id_area__obj {font-size:9px;text-align:left;}
.css_id_asignatura__label {font-size:9px;text-align:right;}
.css_id_asignatura__line {font-size:9px;text-align:left;}
.css_id_asignatura__obj {font-size:9px;text-align:left;}
.css_id_docente__label {font-size:9px;text-align:left;}
.css_id_docente__line {font-size:9px;text-align:left;}
.css_id_docente__obj {font-size:9px;text-align:left;}
.css_intensidad_horaria__label {font-size:9px;width:20px;}
.css_intensidad_horaria__line {font-size:9px;text-align:left;width:20px;}
.css_intensidad_horaria__obj {font-size:9px;text-align:left;width:20px;}
.css_peso_asig_fre_area__label {font-size:9px;width:20px;}
.css_peso_asig_fre_area__line {font-size:9px;text-align:left;width:20px;}
.css_peso_asig_fre_area__obj {font-size:9px;text-align:left;width:20px;}
.css_tipo_asig__label {font-size:9px;}
.css_tipo_asig__line {font-size:9px;}
.css_tipo_asig__obj {font-size:9px;}
