.css_t_evaluacion_id_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_estudiante_grid_line {font-size:12px;vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: center;}
.css_sc_field_1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
.css_sc_field_2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_2_grid_line {text-align: center;}
.css_sc_field_3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_3_grid_line {text-align: center;}
.css_sc_field_4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_4_grid_line {text-align: center;}
.css_sc_field_5_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_5_grid_line {text-align: center;}
.css_sc_field_6_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_6_grid_line {text-align: center;}
.css_sc_field_7_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_7_grid_line {text-align: center;}
.css_sc_field_8_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_8_grid_line {text-align: center;}
.css_sc_field_9_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_9_grid_line {text-align: center;}
.css_sc_field_10_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_10_grid_line {text-align: center;}
.css_sc_field_11_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_11_grid_line {text-align: center;}
.css_sc_field_12_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_12_grid_line {text-align: center;}
.css_sc_field_13_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_13_grid_line {text-align: center;}
.css_sc_field_14_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_14_grid_line {text-align: center;}
.css_sc_field_15_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_15_grid_line {text-align: center;}
.css_sc_field_16_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_16_grid_line {text-align: center;}
.css_sc_field_17_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_17_grid_line {text-align: center;}
.css_sc_field_18_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_18_grid_line {text-align: center;}
.css_sc_field_19_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_19_grid_line {text-align: center;}
.css_sc_field_20_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_20_grid_line {text-align: center;}
.css_sc_field_21_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_21_grid_line {text-align: center;}
.css_sc_field_22_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_22_grid_line {text-align: center;}
.css_sc_field_23_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_23_grid_line {text-align: center;}
.css_sc_field_24_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_24_grid_line {text-align: center;}
.css_sc_field_25_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_25_grid_line {text-align: center;}
.css_sc_field_26_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_26_grid_line {text-align: center;}
.css_sc_field_27_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_27_grid_line {text-align: center;}
.css_sc_field_28_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_28_grid_line {text-align: center;}
.css_sc_field_29_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_29_grid_line {text-align: center;}
.css_sc_field_30_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sc_field_30_grid_line {text-align: center;}
