.css_id_estudiante_label { }
.css_id_estudiante_line {text-align:left;}
.css_id_estudiante_obj {text-align:left;}
.css_dc5_label {font-size:12px;width:25px;}
.css_dc5_line {font-size:12px;text-align:left;width:25px;}
.css_dc5_obj {font-size:12px;text-align:left;width:25px;}
.css_actividades_label { }
.css_actividades_line { }
.css_actividades_obj { }
