.css_id_inasistencia_det_label {text-align: right;vertical-align: middle;}
.css_id_inasistencia_det_line {height:0px;text-align: right;}
.css_idstudents_det_label {text-align: right;vertical-align: middle;}
.css_idstudents_det_line {height:0px;text-align: right;}
.css_id_grado_det_label {text-align: right;vertical-align: middle;}
.css_id_grado_det_line {height:0px;text-align: right;}
.css_id_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: right;}
.css_id_asignatura_det_label {text-align: right;vertical-align: middle;}
.css_id_asignatura_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_hora_det_label {text-align: right;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: right;}
