.css_id_inasistencia_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_inasistencia_grid_line {vertical-align: top;text-align: right;}
.css_idstudents_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idstudents_grid_line {vertical-align: top;text-align: right;}
.css_id_grado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grado_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
