.css_id_estudiante__label {text-align:right;}
.css_id_estudiante__line {text-align:left;}
.css_id_estudiante__obj {text-align:left;}
.css_novedad__label {font-size:10px;width:20px;}
.css_novedad__line {font-size:12px;width:25px;}
.css_novedad__obj {font-size:12px;width:25px;}
.css_estatus__label {font-size:10px;width:20px;}
.css_estatus__line {font-size:12px;width:25px;}
.css_estatus__obj {font-size:12px;color:#0000CC;width:25px;}
.css_inasistencia_p1__label {font-size:10px;width:20px;}
.css_inasistencia_p1__line {font-size:12px;text-align:left;width:25px;}
.css_inasistencia_p1__obj {font-size:12px;text-align:left;width:25px;}
.css_eval_1_per__label {font-size:10px;width:20px;}
.css_eval_1_per__line {font-size:12px;text-align:left;width:25px;}
.css_eval_1_per__obj {font-size:10px;text-align:left;width:25px;}
.css_dc1__label {font-size:10px;width:20px;}
.css_dc1__line {font-size:12px;text-align:left;width:25px;}
.css_dc1__obj {font-size:12px;text-align:left;width:25px;}
.css_dc2__label {font-size:10px;width:20px;}
.css_dc2__line {font-size:12px;text-align:left;width:25px;}
.css_dc2__obj {font-size:12px;text-align:left;width:25px;}
.css_dc3__label {font-size:10px;width:20px;}
.css_dc3__line {font-size:12px;text-align:left;width:25px;}
.css_dc3__obj {font-size:12px;text-align:left;width:25px;}
.css_dc4__label {font-size:10px;width:20px;}
.css_dc4__line {font-size:12px;text-align:left;width:25px;}
.css_dc4__obj {font-size:12px;text-align:left;width:25px;}
.css_dc5__label {font-size:10px;width:20px;}
.css_dc5__line {font-size:12px;text-align:left;width:25px;}
.css_dc5__obj {font-size:12px;text-align:left;width:25px;}
.css_pcent_dc__label {font-size:10px;width:20px;}
.css_pcent_dc__line {font-size:12px;text-align:left;width:25px;}
.css_pcent_dc__obj {font-size:12px;text-align:left;width:25px;}
.css_dp1__label {font-size:10px;width:20px;}
.css_dp1__line {font-size:12px;text-align:left;width:25px;}
.css_dp1__obj {font-size:12px;text-align:left;width:25px;}
.css_dp2__label {font-size:10px;width:20px;}
.css_dp2__line {font-size:12px;text-align:left;width:25px;}
.css_dp2__obj {font-size:12px;text-align:left;width:25px;}
.css_dp3__label {font-size:10px;width:20px;}
.css_dp3__line {font-size:12px;text-align:left;width:25px;}
.css_dp3__obj {font-size:12px;text-align:left;width:25px;}
.css_dp4__label {font-size:10px;width:20px;}
.css_dp4__line {font-size:12px;text-align:left;width:25px;}
.css_dp4__obj {font-size:12px;text-align:left;width:25px;}
.css_dp5__label {font-size:10px;width:20px;}
.css_dp5__line {font-size:12px;text-align:left;width:25px;}
.css_dp5__obj {font-size:12px;text-align:left;width:25px;}
.css_pcent_dp__label {font-size:10px;width:20px;}
.css_pcent_dp__line {font-size:12px;text-align:left;width:25px;}
.css_pcent_dp__obj {font-size:12px;text-align:left;width:25px;}
.css_aeep1__label {font-size:10px;width:20px;}
.css_aeep1__line {font-size:12px;text-align:left;width:25px;}
.css_aeep1__obj {font-size:12px;text-align:left;width:25px;}
.css_porcent_aeep1__label {font-size:10px;width:20px;}
.css_porcent_aeep1__line {font-size:12px;text-align:left;width:25px;}
.css_porcent_aeep1__obj {font-size:12px;text-align:left;width:25px;}
.css_asienta_inasistencias__label { }
.css_asienta_inasistencias__line { }
.css_asienta_inasistencias__obj { }
.css_val_acumulada__label {font-size:10px;width:20px;}
.css_val_acumulada__line {font-size:12px;width:25px;}
.css_val_acumulada__obj {font-size:12px;width:25px;}
.css_val_requerida__label {font-size:10px;width:20px;}
.css_val_requerida__line {font-size:12px;width:25px;}
.css_val_requerida__obj {font-size:12px;width:25px;}
