.css_id_estudiante__label {text-align:right;}
.css_id_estudiante__line {text-align:left;}
.css_id_estudiante__obj {text-align:left;}
.css_novedad__label {font-size:10px;width:20px;}
.css_novedad__line {font-size:12px;width:25px;}
.css_novedad__obj {font-size:12px;width:25px;}
.css_estatus__label {font-size:10px;width:20px;}
.css_estatus__line {font-size:12px;width:25px;}
.css_estatus__obj {font-size:12px;color:#0000CC;width:25px;}
.css_inasistencia_p1__label {font-size:10px;width:20px;}
.css_inasistencia_p1__line {font-size:12px;text-align:left;width:25px;}
.css_inasistencia_p1__obj {font-size:12px;text-align:left;width:25px;}
.css_eval_1_per__label {font-size:10px;width:20px;}
.css_eval_1_per__line {font-size:12px;text-align:left;width:25px;}
.css_eval_1_per__obj {font-size:10px;text-align:left;width:25px;}
.css_dc1__label {font-size:10px;width:20px;}
.css_dc1__line {font-size:12px;text-align:left;width:30px;}
.css_dc1__obj {font-size:12px;text-align:left;width:30px;}
.css_dc2__label {font-size:10px;width:20px;}
.css_dc2__line {font-size:12px;text-align:left;width:30px;}
.css_dc2__obj {font-size:12px;text-align:left;width:30px;}
.css_dc3__label {font-size:10px;width:20px;}
.css_dc3__line {font-size:12px;text-align:left;width:25px;}
.css_dc3__obj {font-size:12px;text-align:left;width:25px;}
.css_dc4__label {font-size:10px;width:20px;}
.css_dc4__line {font-size:12px;text-align:left;width:30px;}
.css_dc4__obj {font-size:12px;text-align:left;width:30px;}
.css_dc5__label {font-size:10px;width:20px;}
.css_dc5__line {font-size:12px;text-align:left;width:30px;}
.css_dc5__obj {font-size:12px;text-align:left;width:30px;}
.css_dc6__label {font-size:10px;width:20px;}
.css_dc6__line {font-size:12px;text-align:left;width:30px;}
.css_dc6__obj {font-size:12px;text-align:left;width:30px;}
.css_dc7__label {font-size:10px;width:20px;}
.css_dc7__line {font-size:12px;text-align:left;width:30px;}
.css_dc7__obj {font-size:12px;text-align:left;width:30px;}
.css_dc8__label {font-size:10px;width:20px;}
.css_dc8__line {font-size:12px;text-align:left;width:30px;}
.css_dc8__obj {font-size:12px;text-align:left;width:30px;}
.css_dc9__label {font-size:10px;width:20px;}
.css_dc9__line {font-size:12px;text-align:left;width:30px;}
.css_dc9__obj {font-size:12px;text-align:left;width:30px;}
.css_dc10__label {font-size:10px;width:20px;}
.css_dc10__line {font-size:12px;text-align:left;width:30px;}
.css_dc10__obj {font-size:12px;text-align:left;width:30px;}
.css_dc11__label {font-size:10px;width:20px;}
.css_dc11__line {font-size:12px;text-align:left;width:30px;}
.css_dc11__obj {font-size:12px;text-align:left;width:30px;}
.css_dc12__label {font-size:10px;width:20px;}
.css_dc12__line {font-size:12px;text-align:left;width:30px;}
.css_dc12__obj {font-size:12px;text-align:left;width:30px;}
.css_asienta_inasistencias__label { }
.css_asienta_inasistencias__line { }
.css_asienta_inasistencias__obj { }
