.css_t_area_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_area_area_grid_line {vertical-align: top;text-align: right;}
.css_val_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_val_grid_line {text-align: center;}
.css_desempeno_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_desempeno_grid_line {text-align: center;}
.css_a_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_a_grid_line {font-size:6px;text-align: center;}
.css_asignaturas_grid_line {text-align: center;}
