.css_idstudents_label { }
.css_idstudents_line {text-align:left;}
.css_idstudents_obj {text-align:left;}
.css_year_matricula_label { }
.css_year_matricula_line { }
.css_year_matricula_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_id_grado_label { }
.css_id_grado_line {text-align:left;}
.css_id_grado_obj {text-align:left;}
.css_id_sede_label { }
.css_id_sede_line {text-align:left;}
.css_id_sede_obj {text-align:left;}
.css_id_jornada_label { }
.css_id_jornada_line {text-align:left;}
.css_id_jornada_obj {text-align:left;}
.css_semestre_label { }
.css_semestre_line {text-align:left;}
.css_semestre_obj {text-align:left;}
