.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nombre_inst_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_inst_grid_line {vertical-align: top;text-align: right;}
.css_nit_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nit_grid_line {vertical-align: top;text-align: right;}
.css_cod_dane_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cod_dane_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: right;}
.css_telefonos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefonos_grid_line {vertical-align: top;text-align: right;}
.css_logo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_logo_grid_line {vertical-align: top;text-align: right;}
