.css_id_naf_det_label {text-align: right;vertical-align: middle;}
.css_id_naf_det_line {height:0px;text-align: right;}
.css_idstudents_det_label {text-align: right;vertical-align: middle;}
.css_idstudents_det_line {height:0px;text-align: right;}
.css_id_novedad_det_label {text-align: right;vertical-align: middle;}
.css_id_novedad_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_observaciones_det_label {text-align: right;vertical-align: middle;}
.css_observaciones_det_line {height:0px;text-align: right;}
