.css_id_naf_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_naf_grid_line {vertical-align: top;text-align: right;}
.css_idstudents_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idstudents_grid_line {vertical-align: top;text-align: right;}
.css_id_novedad_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_novedad_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_observaciones_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
