.css_id_estudiante__label {text-align:right;}
.css_id_estudiante__line {text-align:left;}
.css_id_estudiante__obj {text-align:left;}
.css_novedad__label {font-size:10px;width:20px;}
.css_novedad__line {font-size:12px;width:25px;}
.css_novedad__obj {font-size:12px;width:25px;}
.css_estatus__label {font-size:10px;width:20px;}
.css_estatus__line {font-size:12px;width:25px;}
.css_estatus__obj {font-size:12px;color:#0000CC;width:25px;}
.css_eval_2_per__label {font-size:10px;width:20px;}
.css_eval_2_per__line {font-size:12px;text-align:left;width:25px;}
.css_eval_2_per__obj {font-size:10px;text-align:left;width:25px;}
.css_dc1_2p__label {font-size:10px;width:20px;}
.css_dc1_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dc1_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dc2_2p__label {font-size:10px;width:20px;}
.css_dc2_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dc2_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dc3_2p__label {font-size:10px;width:20px;}
.css_dc3_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dc3_2p__obj {text-align:left;width:25px;}
.css_dc4_2p__label {font-size:10px;width:20px;}
.css_dc4_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dc4_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dc5_2p__label {font-size:10px;width:20px;}
.css_dc5_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dc5_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_pcent_dc2__label {font-size:10px;width:20px;}
.css_pcent_dc2__line {font-size:12px;text-align:left;width:25px;}
.css_pcent_dc2__obj {font-size:12px;text-align:left;width:25px;}
.css_ds1_2p__label {font-size:10px;width:20px;}
.css_ds1_2p__line {font-size:12px;text-align:left;width:25px;}
.css_ds1_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_ds2_2p__label {font-size:10px;width:20px;}
.css_ds2_2p__line {font-size:12px;text-align:left;width:25px;}
.css_ds2_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_ds3_2p__label {font-size:10px;width:20px;}
.css_ds3_2p__line {font-size:12px;text-align:left;width:25px;}
.css_ds3_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_ds4_2p__label {font-size:10px;width:20px;}
.css_ds4_2p__line {font-size:12px;text-align:left;width:25px;}
.css_ds4_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_ds5_2p__label {font-size:10px;width:20px;}
.css_ds5_2p__line {font-size:12px;text-align:left;width:25px;}
.css_ds5_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_pcent_ds2__label {font-size:10px;width:20px;}
.css_pcent_ds2__line {font-size:12px;text-align:left;width:25px;}
.css_pcent_ds2__obj {font-size:12px;text-align:left;width:25px;}
.css_dp1_2p__label {font-size:10px;width:20px;}
.css_dp1_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dp1_2p__obj {text-align:left;width:25px;}
.css_dp2_2p__label {font-size:10px;width:20px;}
.css_dp2_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dp2_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dp3_2p__label {font-size:10px;width:20px;}
.css_dp3_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dp3_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dp4_2p__label {font-size:10px;width:20px;}
.css_dp4_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dp4_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_dp5_2p__label {font-size:10px;width:20px;}
.css_dp5_2p__line {font-size:12px;text-align:left;width:25px;}
.css_dp5_2p__obj {font-size:12px;text-align:left;width:25px;}
.css_pcent_dp2__label {font-size:10px;width:20px;}
.css_pcent_dp2__line {font-size:12px;text-align:left;width:25px;}
.css_pcent_dp2__obj {font-size:12px;text-align:left;width:25px;}
.css_val_acumulada__label {font-size:10px;width:20px;}
.css_val_acumulada__line {font-size:12px;width:25px;}
.css_val_acumulada__obj {font-size:12px;width:25px;}
.css_val_requerida__label {font-size:10px;width:20px;}
.css_val_requerida__line {font-size:12px;width:25px;}
.css_val_requerida__obj {font-size:12px;width:25px;}
