.css_t_subgrupos_id_grado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_subgrupos_id_grado_grid_line {vertical-align: top;text-align: right;}
.css_t_subgrupos_id_subgrupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_subgrupos_id_subgrupo_grid_line {vertical-align: top;text-align: right;}
.css_sub_grupo_x_asig_x_doce_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sub_grupo_x_asig_x_doce_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_evaluar_tec_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluar_tec_grid_line {text-align: center;}
.css_sub_grupo_x_asig_x_doce_id_docente_sub_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_sub_grupo_x_asig_x_doce_id_docente_sub_grupo_grid_line {vertical-align: top;text-align: right;}
.css_sub_grupo_x_asig_x_doce_intensidad_horaria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_sub_grupo_x_asig_x_doce_intensidad_horaria_grid_line {vertical-align: top;text-align: right;}
.css_sub_grupo_x_asig_x_doce_peso_asig_fre_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_sub_grupo_x_asig_x_doce_peso_asig_fre_area_grid_line {vertical-align: top;text-align: right;}
.css_sub_grupo_x_asig_x_doce_tipo_asig_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sub_grupo_x_asig_x_doce_tipo_asig_grid_line {vertical-align: top;text-align: right;}
.css_docentes_id_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_docentes_id_area_grid_line {vertical-align: top;text-align: right;}
