.css_valoracion__label { }
.css_valoracion__line { }
.css_valoracion__obj { }
.css_orden__label { }
.css_orden__line {text-align:left;}
.css_orden__obj {text-align:left;}
.css_minimo__label {text-align:right;}
.css_minimo__line {text-align:left;}
.css_minimo__obj {text-align:left;}
.css_maximo__label {text-align:right;}
.css_maximo__line {text-align:left;}
.css_maximo__obj {text-align:left;}
.css_letra__label { }
.css_letra__line { }
.css_letra__obj { }
