.css_id_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: right;}
.css_id_grado_det_label {text-align: right;vertical-align: middle;}
.css_id_grado_det_line {height:0px;text-align: right;}
.css_id_sede_det_label {text-align: right;vertical-align: middle;}
.css_id_sede_det_line {height:0px;text-align: right;}
.css_id_director_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_director_grupo_det_line {height:0px;text-align: right;}
.css_nombre_grupo_det_label {text-align: right;vertical-align: middle;}
.css_nombre_grupo_det_line {height:0px;text-align: right;}
.css_jornada_det_label {text-align: right;vertical-align: middle;}
.css_jornada_det_line {height:0px;text-align: right;}
.css_modalidad_det_label {text-align: right;vertical-align: middle;}
.css_modalidad_det_line {height:0px;text-align: right;}
.css_calendario_det_label {text-align: right;vertical-align: middle;}
.css_calendario_det_line {height:0px;text-align: right;}
.css_tipo_educ_det_label {text-align: right;vertical-align: middle;}
.css_tipo_educ_det_line {height:0px;text-align: right;}
.css_entorno_det_label {text-align: right;vertical-align: middle;}
.css_entorno_det_line {height:0px;text-align: right;}
