.css_observaciones_grid_line {font-family:Arial, sans-serif;font-size:16px;vertical-align: top;text-align: right;}
.css_esp1_label {text-align:left;}
.css_esp1_grid_line {}
.css_id_director_grupo_label {text-align:left;}
.css_id_director_grupo_grid_line {font-size:20px;vertical-align: top;}
