.css_L1C1_label {}
.css_L1C2_label {text-align:center;vertical-align:middle;}
.css_L1C3_label {text-align:center;vertical-align:middle;}
.css_L1C4_label {text-align:center;vertical-align:middle;}
.css_L1C5_label {}
.css_L1C6_label {}
.css_nom_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_estudiante_grid_line {vertical-align: top;text-align: left;}
.css_novedades_x_estudiante_fecha_id_novedad_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_novedades_x_estudiante_fecha_id_novedad_grid_line {vertical-align: top;text-align: left;}
.css_fa_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fa_grid_line {text-align: center;}
.css_re_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_re_grid_line {text-align: center;}
.css_p1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p1_grid_line {text-align: center;}
.css_p2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p2_grid_line {text-align: center;}
.css_p3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p3_grid_line {text-align: center;}
.css_p4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_p4_grid_line {text-align: center;}
.css_vac_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vac_grid_line {text-align: center;}
.css_vra_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vra_grid_line {text-align: center;}
.css_col1_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col1_grid_line {text-align: center;}
.css_col2_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col2_grid_line {text-align: center;}
.css_col3_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col3_grid_line {text-align: center;}
.css_col4_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col4_grid_line {text-align: center;}
.css_col5_label {text-align:;vertical-align:bottom;font-weight:bold;}
.css_col5_grid_line {text-align: center;}
.css_par_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_par_grid_line {text-align: center;}
.css_app_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_app_grid_line {text-align: center;}
.css_prp_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_prp_grid_line {text-align: center;}
.css_ren_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_ren_grid_line {text-align: center;}
.css_ptc_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_ptc_grid_line {text-align: center;}
.css_red_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_red_grid_line {text-align: left;}
.css_lid_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_lid_grid_line {text-align: center;}
.css_pel_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_pel_grid_line {text-align: center;}
.css_com_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_com_grid_line {text-align: left;}
.css_coc_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_coc_grid_line {text-align: center;}
.css_aee_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_aee_grid_line {text-align: center;}
.css_val_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_val_grid_line {text-align: left;}
.css_t_estudiante_grupo_idstudent_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_estudiante_grupo_idstudent_grid_line {vertical-align: top;text-align: left;}
