.css_sede_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sede_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: right;}
.css_telefonos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefonos_grid_line {vertical-align: top;text-align: right;}
.css_coordinador_manana_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_coordinador_manana_grid_line {vertical-align: top;text-align: right;}
.css_coordinador_tarde_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_coordinador_tarde_grid_line {vertical-align: top;text-align: right;}
.css_coordinador_nocturno_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_coordinador_nocturno_grid_line {vertical-align: top;text-align: right;}
.css_coordinador_sabado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_coordinador_sabado_grid_line {vertical-align: top;text-align: right;}
.css_id_sede_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_sede_grid_line {vertical-align: top;text-align: right;}
.css_nit_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nit_grid_line {vertical-align: top;text-align: right;}
.css_capacidad_fisica_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_capacidad_fisica_grid_line {vertical-align: top;text-align: right;}
.css_cod_dane_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cod_dane_grid_line {vertical-align: top;text-align: right;}
