.css_codigo_label { }
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_id_grado_label { }
.css_id_grado_line {text-align:left;}
.css_id_grado_obj {text-align:left;}
.css_id_area_label { }
.css_id_area_line {text-align:left;}
.css_id_area_obj {text-align:left;}
.css_id_asignatura_label { }
.css_id_asignatura_line {text-align:left;}
.css_id_asignatura_obj {text-align:left;}
.css_id_clas_chs_label { }
.css_id_clas_chs_line {text-align:left;}
.css_id_clas_chs_obj {text-align:left;}
.css_periodos_label { }
.css_periodos_line { }
.css_periodos_obj { }
.css_superior_label { }
.css_superior_line {width:800px;height:100px;}
.css_superior_obj {width:800px;height:100px;}
.css_alto_label {font-size:12px;}
.css_alto_line {width:800px;height:100px;}
.css_alto_obj {width:800px;height:100px;}
.css_basico_label {font-size:12px;}
.css_basico_line {width:800px;height:100px;}
.css_basico_obj {width:800px;height:100px;}
.css_refuerzo_academino_label {font-size:12px;}
.css_refuerzo_academino_line {width:800px;height:100px;}
.css_refuerzo_academino_obj {width:800px;height:100px;}
.css_bajo_label {font-size:12px;}
.css_bajo_line {width:800px;height:100px;}
.css_bajo_obj {width:800px;height:100px;}
.css_recomendacion_label {font-size:12px;}
.css_recomendacion_line {width:800px;height:100px;}
.css_recomendacion_obj {width:800px;height:100px;}
.css_copia_desem_label { }
.css_copia_desem_line { }
.css_copia_desem_obj { }
