.css_area_grid_line {text-align: left;}
.css_resumen_grid_line {text-align: left;}
.css_obsg_grid_line {text-align: left;}
.css_linea_grid_line {text-align: left;}
.css_t_grupos_id_director_grupo_grid_line {vertical-align: top;text-align: left;}
