.css_nomb_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nomb_estudiante_grid_line {font-size:10px;vertical-align: top;text-align: right;}
.css_telefonos_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_telefonos_grid_line {text-align: center;}
.css_firma_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_firma_grid_line {text-align: center;}
