.css_rel_desemp_posicion_periodo_det_label {text-align: left;vertical-align: middle;}
.css_rel_desemp_posicion_periodo_det_line {height:0px;text-align: left;}
.css_t_grupos_nombre_grupo_det_label {text-align: left;vertical-align: middle;}
.css_t_grupos_nombre_grupo_det_line {height:0px;text-align: left;}
.css_rel_desemp_posicion_posicion_det_label {text-align: left;vertical-align: middle;}
.css_rel_desemp_posicion_posicion_det_line {height:0px;text-align: left;}
.css_desempeno_superior_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_superior_det_line {height:0px;text-align: left;}
.css_desempeno_alto_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_alto_det_line {height:0px;text-align: left;}
.css_desempeno_basico_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_basico_det_line {height:0px;text-align: left;}
.css_desempeno_refuerzo_academino_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_refuerzo_academino_det_line {height:0px;text-align: left;}
.css_desempeno_bajo_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_bajo_det_line {height:0px;text-align: left;}
.css_desempeno_recomendacion_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_recomendacion_det_line {height:0px;text-align: left;}
.css_desempeno_id_asignatura_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_id_asignatura_det_line {height:0px;text-align: left;}
.css_desempeno_codigo_det_label {text-align: left;vertical-align: middle;}
.css_desempeno_codigo_det_line {height:0px;text-align: left;}
