.css_id_actividad__label { }
.css_id_actividad__line {text-align:left;}
.css_id_actividad__obj {text-align:left;}
.css_actividad__label { }
.css_actividad__line { }
.css_actividad__obj { }
.css_codigo_desemp__label { }
.css_codigo_desemp__line {text-align:left;}
.css_codigo_desemp__obj {text-align:left;}
.css_posicion__label { }
.css_posicion__line { }
.css_posicion__obj { }
.css_id_asignatura__label { }
.css_id_asignatura__line {text-align:left;}
.css_id_asignatura__obj {text-align:left;}
.css_id_grupo__label { }
.css_id_grupo__line {text-align:left;}
.css_id_grupo__obj {text-align:left;}
.css_id_estudent__label { }
.css_id_estudent__line {text-align:left;}
.css_id_estudent__obj {text-align:left;}
.css_eval__label {font-size:10px;width:20px;}
.css_eval__line {font-size:12px;text-align:left;width:25px;}
.css_eval__obj {font-size:12px;text-align:left;width:25px;}
.css_porcentaje__label { }
.css_porcentaje__line {text-align:left;width:40px;}
.css_porcentaje__obj {text-align:left;width:40px;}
.css_entorno__label { }
.css_entorno__line { }
.css_entorno__obj { }
