.css_students_idstudents_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_idstudents_grid_line {vertical-align: top;text-align: right;}
.css_students_id_sede_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_id_sede_grid_line {vertical-align: top;text-align: right;}
.css_students_id_jornada_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_students_id_jornada_grid_line {vertical-align: top;text-align: right;}
.css_students_numero_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_numero_documento_grid_line {vertical-align: top;text-align: right;}
.css_students_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_primer_nombre_grid_line {vertical-align: top;text-align: right;}
.css_students_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_segundo_nombre_grid_line {vertical-align: top;text-align: right;}
.css_areas_grid_line {text-align: center;}
