.css_t_area_area_grid_line {vertical-align: top;text-align: left;}
.css_val_grid_line {text-align: center;}
.css_desempeno_grid_line {text-align: center;}
.css_a_grid_line {font-size:6px;text-align: center;}
.css_asig_reoro_grid_line {text-align: center;}
