.css_t_asignaturas_asignatura_det_label {text-align: right;vertical-align: middle;}
.css_t_asignaturas_asignatura_det_line {height:0px;text-align: right;}
.css_t_evaluacion_evaluacion_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_evaluacion_det_line {height:0px;text-align: right;}
