.css_t_asignaturas_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asignaturas_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_ihs_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_ihs_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_evaluacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_evaluacion_grid_line {vertical-align: top;text-align: right;}
