.css_desempeno_codigo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_desempeno_codigo_grid_line {vertical-align: top;text-align: center;}
.css_desempeno_periodos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_desempeno_periodos_grid_line {vertical-align: top;text-align: center;}
.css_desempeno_superior_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_desempeno_superior_grid_line {vertical-align: top;text-align: center;}
.css_desempeno_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_desempeno_id_asignatura_grid_line {vertical-align: top;text-align: center;}
.css_rel_desemp_posicion_id_grupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_rel_desemp_posicion_id_grupo_grid_line {vertical-align: top;text-align: center;}
.css_rel_desemp_posicion_posicion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_rel_desemp_posicion_posicion_grid_line {vertical-align: top;text-align: center;}
.css_actividades_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_actividades_grid_line {text-align: center;}
.css_evalua_actividades_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evalua_actividades_grid_line {text-align: center;}
