.css_id_modelo_eval_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_modelo_eval_grid_line {vertical-align: top;text-align: right;}
.css_etiqueta_grupo_1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_etiqueta_grupo_1_grid_line {vertical-align: top;text-align: left;}
.css_num_columnas_grupo1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_num_columnas_grupo1_grid_line {vertical-align: top;text-align: right;}
.css_porcentaje_grupo1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_porcentaje_grupo1_grid_line {vertical-align: top;text-align: right;}
.css_etiqueta_grupo_2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_etiqueta_grupo_2_grid_line {vertical-align: top;text-align: left;}
.css_num_columnas_grupo2_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_num_columnas_grupo2_grid_line {vertical-align: top;text-align: right;}
