.css_id_modelo_eval_det_label {text-align: left;vertical-align: middle;}
.css_id_modelo_eval_det_line {height:0px;text-align: left;}
.css_etiqueta_grupo_1_det_label {text-align: left;vertical-align: middle;}
.css_etiqueta_grupo_1_det_line {height:0px;text-align: left;}
.css_num_columnas_grupo1_det_label {text-align: left;vertical-align: middle;}
.css_num_columnas_grupo1_det_line {height:0px;text-align: left;}
.css_porcentaje_grupo1_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_grupo1_det_line {height:0px;text-align: left;}
.css_etiqueta_grupo_2_det_label {text-align: left;vertical-align: middle;}
.css_etiqueta_grupo_2_det_line {height:0px;text-align: left;}
.css_num_columnas_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_num_columnas_grupo2_det_line {height:0px;text-align: left;}
.css_criterio_1_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_criterio_1_grupo2_det_line {height:0px;text-align: left;}
.css_criterio_2_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_criterio_2_grupo2_det_line {height:0px;text-align: left;}
.css_criterio_3_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_criterio_3_grupo2_det_line {height:0px;text-align: left;}
.css_criterio_4_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_criterio_4_grupo2_det_line {height:0px;text-align: left;}
.css_criterio_5_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_criterio_5_grupo2_det_line {height:0px;text-align: left;}
.css_porcentaje_grupo2_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_grupo2_det_line {height:0px;text-align: left;}
.css_etiqueta_grupo_3_det_label {text-align: left;vertical-align: middle;}
.css_etiqueta_grupo_3_det_line {height:0px;text-align: left;}
.css_num_columnas_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_num_columnas_grupo3_det_line {height:0px;text-align: left;}
.css_criterio_1_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_criterio_1_grupo3_det_line {height:0px;text-align: left;}
.css_criterio_2_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_criterio_2_grupo3_det_line {height:0px;text-align: left;}
.css_criterio_3_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_criterio_3_grupo3_det_line {height:0px;text-align: left;}
.css_criterio_4_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_criterio_4_grupo3_det_line {height:0px;text-align: left;}
.css_criterio_5_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_criterio_5_grupo3_det_line {height:0px;text-align: left;}
.css_porcentaje_grupo3_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_grupo3_det_line {height:0px;text-align: left;}
.css_auto_evaluacion_det_label {text-align: left;vertical-align: middle;}
.css_auto_evaluacion_det_line {height:0px;text-align: left;}
.css_etiqtiqueta_autoevaluacion_det_label {text-align: left;vertical-align: middle;}
.css_etiqtiqueta_autoevaluacion_det_line {height:0px;text-align: left;}
.css_porcentaje_autoevaluacion_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_autoevaluacion_det_line {height:0px;text-align: left;}
