.css_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {font-size:11px;vertical-align: top;text-align: left;}
.css_inasistencia_p1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_inasistencia_p1_grid_line {font-size:11px;vertical-align: top;text-align: right;}
.css_ihs_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ihs_grid_line {font-size:11px;vertical-align: top;text-align: right;}
.css_eval_periodo1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_eval_periodo1_grid_line {font-size:11px;text-align: center;}
.css_desem_asig_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_desem_asig_grid_line {font-size:11px;text-align: center;}
.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: left;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: left;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: left;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: left;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_desemp_grid_line {text-align: center;}
