.css_id_sede_label { }
.css_id_sede_line {text-align:left;}
.css_id_sede_obj {text-align:left;}
.css_sede_label { }
.css_sede_line { }
.css_sede_obj { }
.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_capacidad_fisica_label { }
.css_capacidad_fisica_line {text-align:left;}
.css_capacidad_fisica_obj {text-align:left;}
.css_cod_dane_label { }
.css_cod_dane_line { }
.css_cod_dane_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_telefonos_label { }
.css_telefonos_line { }
.css_telefonos_obj { }
.css_coordinador_manana_label { }
.css_coordinador_manana_line {text-align:left;}
.css_coordinador_manana_obj {text-align:left;}
.css_coordinador_tarde_label { }
.css_coordinador_tarde_line {text-align:left;}
.css_coordinador_tarde_obj {text-align:left;}
.css_coordinador_nocturno_label { }
.css_coordinador_nocturno_line {text-align:left;}
.css_coordinador_nocturno_obj {text-align:left;}
.css_coordinador_sabado_label { }
.css_coordinador_sabado_line {text-align:left;}
.css_coordinador_sabado_obj {text-align:left;}
