.css_id_grado_label { }
.css_id_grado_line {text-align:left;}
.css_id_grado_obj {text-align:left;}
.css_id_sede_label { }
.css_id_sede_line {text-align:left;}
.css_id_sede_obj {text-align:left;}
.css_id_director_grupo_label { }
.css_id_director_grupo_line {text-align:left;}
.css_id_director_grupo_obj {text-align:left;}
.css_nombre_grupo_label { }
.css_nombre_grupo_line { }
.css_nombre_grupo_obj { }
.css_jornada_label { }
.css_jornada_line { }
.css_jornada_obj { }
.css_modalidad_label { }
.css_modalidad_line { }
.css_modalidad_obj { }
.css_calendario_label { }
.css_calendario_line { }
.css_calendario_obj { }
.css_tipo_educ_label { }
.css_tipo_educ_line {text-align:left;}
.css_tipo_educ_obj {text-align:left;}
.css_entorno_label { }
.css_entorno_line { }
.css_entorno_obj { }
.css_estudiantes_label { }
.css_estudiantes_line { }
.css_estudiantes_obj { }
.css_asig_1_aca_label { }
.css_asig_1_aca_line { }
.css_asig_1_aca_obj { }
