.css_sede_label { }
.css_sede_line { }
.css_sede_obj { }
.css_anyo_label { }
.css_anyo_line { }
.css_anyo_obj { }
.css_jornada_label { }
.css_jornada_line { }
.css_jornada_obj { }
.css_grado_label { }
.css_grado_line { }
.css_grado_obj { }
.css_grupo_label { }
.css_grupo_line { }
.css_grupo_obj { }
.css_pri_firma_label { }
.css_pri_firma_line {width:300px;}
.css_pri_firma_obj {width:300px;}
.css_cargo_pri_firm_label { }
.css_cargo_pri_firm_line { }
.css_cargo_pri_firm_obj { }
.css_seg_firma_label { }
.css_seg_firma_line {width:300px;}
.css_seg_firma_obj {width:300px;}
.css_cargo_seg_firm_label { }
.css_cargo_seg_firm_line { }
.css_cargo_seg_firm_obj { }
.css_encabezado_label { }
.css_encabezado_line {width:800px;}
.css_encabezado_obj {width:800px;}
.css_pie_pagina_label { }
.css_pie_pagina_line {width:800px;}
.css_pie_pagina_obj {width:800px;}
.css_estudiante_label { }
.css_estudiante_line { }
.css_estudiante_obj { }
.css_especialidad_label { }
.css_especialidad_line {width:200px;}
.css_especialidad_obj {width:200px;}
