.css_grupo_x_asig_x_doce_id_grupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_area_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_intensidad_horaria_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_intensidad_horaria_grid_line {vertical-align: top;text-align: right;}
