.css_a_lectivo_label { }
.css_a_lectivo_line { }
.css_a_lectivo_obj { }
.css_sede_label { }
.css_sede_line { }
.css_sede_obj {text-align:right;}
.css_jornada_label { }
.css_jornada_line { }
.css_jornada_obj {text-align:right;}
.css_grado_label { }
.css_grado_line { }
.css_grado_obj {text-align:right;}
.css_semestre_label { }
.css_semestre_line { }
.css_semestre_obj {text-align:right;}
