.css_id_asignatura__label {text-align:right;}
.css_id_asignatura__line {text-align:left;}
.css_id_asignatura__obj {text-align:left;}
.css_asignatura__label { }
.css_asignatura__line { }
.css_asignatura__obj { }
.css_n_simpl__label { }
.css_n_simpl__line { }
.css_n_simpl__obj { }
