.css_id_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: left;}
.css_asig1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig1_grid_line {font-size:10px;text-align: center;}
.css_asig2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig2_grid_line {font-size:10px;text-align: center;}
.css_asig3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig3_grid_line {font-size:10px;text-align: center;}
.css_asig4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig4_grid_line {font-size:10px;text-align: center;}
.css_asig5_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig5_grid_line {font-size:10px;text-align: center;}
.css_asig6_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig6_grid_line {font-size:10px;text-align: center;}
.css_asig7_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig7_grid_line {font-size:10px;text-align: center;}
.css_asig8_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig8_grid_line {font-size:10px;text-align: center;}
.css_asig9_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig9_grid_line {font-size:10px;text-align: center;}
.css_asig10_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig10_grid_line {font-size:10px;text-align: center;}
.css_asig11_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig11_grid_line {font-size:10px;text-align: center;}
.css_asig12_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig12_grid_line {font-size:10px;text-align: center;}
.css_asig13_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig13_grid_line {font-size:10px;text-align: center;}
.css_asig14_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig14_grid_line {font-size:10px;text-align: center;}
.css_asig15_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig15_grid_line {font-size:10px;text-align: center;}
.css_asig16_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig16_grid_line {font-size:10px;text-align: center;}
.css_asig17_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig17_grid_line {font-size:10px;text-align: center;}
.css_asig18_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig18_grid_line {font-size:10px;text-align: center;}
.css_asig19_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig19_grid_line {font-size:10px;text-align: center;}
.css_asig20_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig20_grid_line {font-size:10px;text-align: center;}
.css_asig21_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig21_grid_line {font-size:10px;text-align: center;}
.css_asig22_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig22_grid_line {font-size:10px;text-align: center;}
.css_asig23_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig23_grid_line {font-size:10px;text-align: center;}
.css_asig24_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig24_grid_line {font-size:10px;text-align: center;}
.css_asig25_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig25_grid_line {font-size:10px;text-align: center;}
.css_asig26_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig26_grid_line {font-size:10px;text-align: center;}
.css_asig27_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig27_grid_line {font-size:10px;text-align: center;}
.css_asig28_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig28_grid_line {font-size:10px;text-align: center;}
.css_asig29_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig29_grid_line {font-size:10px;text-align: center;}
.css_asig30_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_asig30_grid_line {font-size:10px;text-align: center;}
