.css_students_idstudents_grid_line {color:#FFFFFF;font-size:14px;vertical-align: top;text-align: right;}
.css_areas_grid_line {text-align: right;}
.css_obs_grid_line {font-size:16px;text-align: right;}
.css_linea_1_grid_line {text-align: right;}
.css_linea_2_grid_line {text-align: right;}
.css_dias_inasiste_grid_line {text-align: right;}
