.css_id_grado__label {text-align:right;}
.css_id_grado__line {text-align:left;}
.css_id_grado__obj {text-align:left;}
.css_id_grupo__label {text-align:right;}
.css_id_grupo__line {text-align:left;}
.css_id_grupo__obj {text-align:left;}
.css_id_asign__label {text-align:right;}
.css_id_asign__line {text-align:left;}
.css_id_asign__obj {text-align:left;}
.css_periodo__label { }
.css_periodo__line { }
.css_periodo__obj { }
.css_posicion__label { }
.css_posicion__line { }
.css_posicion__obj { }
.css_cod_desemp__label {text-align:left;}
.css_cod_desemp__line {text-align:left;}
.css_cod_desemp__obj {text-align:left;}
.css_entorno__label { }
.css_entorno__line { }
.css_entorno__obj { }
