.css_novedad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_novedad_grid_line {vertical-align: top;text-align: right;}
.css_id_novedad_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_novedad_grid_line {vertical-align: top;text-align: right;}
