.css_id_docente_grupo_det_label {text-align: right;vertical-align: middle;}
.css_id_docente_grupo_det_line {height:0px;text-align: right;}
.css_id_subgrupo_det_label {text-align: right;vertical-align: middle;}
.css_id_subgrupo_det_line {height:0px;text-align: right;}
.css_id_asignatura_det_label {text-align: right;vertical-align: middle;}
.css_id_asignatura_det_line {height:0px;text-align: right;}
.css_id_docente_det_label {text-align: right;vertical-align: middle;}
.css_id_docente_det_line {height:0px;text-align: right;}
.css_intensidad_horaria_det_label {text-align: right;vertical-align: middle;}
.css_intensidad_horaria_det_line {height:0px;text-align: right;}
.css_peso_asig_fre_area_det_label {text-align: right;vertical-align: middle;}
.css_peso_asig_fre_area_det_line {height:0px;text-align: right;}
