.css_id_docente_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_docente_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_subgrupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_subgrupo_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_id_docente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_docente_grid_line {vertical-align: top;text-align: right;}
.css_intensidad_horaria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_intensidad_horaria_grid_line {vertical-align: top;text-align: right;}
.css_peso_asig_fre_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_peso_asig_fre_area_grid_line {vertical-align: top;text-align: right;}
