.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {text-align: left;}
.css_docentes_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_docentes_documento_grid_line {vertical-align: top;text-align: left;}
.css_firma_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_firma_grid_line {text-align: center;}
