.css_documento_label { }
.css_documento_line { }
.css_documento_obj { }
.css_primer_apellido_label { }
.css_primer_apellido_line { }
.css_primer_apellido_obj { }
.css_segundo_apellido_label { }
.css_segundo_apellido_line { }
.css_segundo_apellido_obj { }
.css_primer_nombre_label { }
.css_primer_nombre_line { }
.css_primer_nombre_obj { }
.css_segundo_nombre_label { }
.css_segundo_nombre_line { }
.css_segundo_nombre_obj { }
.css_iddepartamento_label { }
.css_iddepartamento_line {text-align:left;}
.css_iddepartamento_obj {text-align:left;}
.css_idmunicipio_label { }
.css_idmunicipio_line {text-align:left;}
.css_idmunicipio_obj {text-align:left;}
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_tel_fijo_label { }
.css_tel_fijo_line { }
.css_tel_fijo_obj { }
.css_tel_celular_label { }
.css_tel_celular_line { }
.css_tel_celular_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_id_area_label { }
.css_id_area_line {font-size:9px;text-align:left;}
.css_id_area_obj {font-size:9px;text-align:left;}
.css_login_label { }
.css_login_line { }
.css_login_obj { }
.css_foto_label {width:250px;}
.css_foto_line {width:250px;}
.css_foto_obj {width:250px;}
.css_perfil_label { }
.css_perfil_line { }
.css_perfil_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_confirm_pswd_label { }
.css_confirm_pswd_line { }
.css_confirm_pswd_obj { }
