.css_id_grado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_grado_grid_line {vertical-align: top;text-align: left;}
.css_nombre_subgrupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_subgrupo_grid_line {vertical-align: top;text-align: left;}
.css_id_subgrupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_subgrupo_grid_line {vertical-align: top;text-align: right;}
.css_entorno_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_entorno_grid_line {vertical-align: top;text-align: left;}
.css_modalidad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_modalidad_grid_line {vertical-align: top;text-align: left;}
