.css_t_evaluacion_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_id_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_area_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_t_evaluacion_id_grado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_evaluacion_id_grado_grid_line {vertical-align: top;text-align: right;}
.css_t_grupos_nombre_grupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_grupos_nombre_grupo_grid_line {vertical-align: top;text-align: right;}
.css_t_grupos_id_sede_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_grupos_id_sede_grid_line {vertical-align: top;text-align: right;}
.css_t_grupos_jornada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_grupos_jornada_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_docente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_docente_grid_line {vertical-align: top;text-align: right;}
.css_deta_grid_line {text-align: center;}
