.css_linea_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_linea_grid_line {text-align: left;}
.css_id_area_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_id_area_grid_line {vertical-align: top;text-align: left;}
.css_asignaturas_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_asignaturas_grid_line {text-align: left;}
