.css_t_asignaturas_asignatura_det_label {text-align: right;vertical-align: middle;}
.css_t_asignaturas_asignatura_det_line {height:0px;text-align: right;}
.css_t_evaluacion_id_estudiante_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_id_estudiante_det_line {height:0px;text-align: right;}
.css_t_evaluacion_primer_apellido_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_primer_apellido_det_line {height:0px;text-align: right;}
.css_t_evaluacion_segundo_apellido_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_segundo_apellido_det_line {height:0px;text-align: right;}
.css_t_evaluacion_primer_nombre_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_primer_nombre_det_line {height:0px;text-align: right;}
.css_t_evaluacion_segundo_nombre_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_segundo_nombre_det_line {height:0px;text-align: right;}
.css_t_evaluacion_id_grupo_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_id_grupo_det_line {height:0px;text-align: right;}
.css_t_evaluacion_id_area_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_id_area_det_line {height:0px;text-align: right;}
.css_t_evaluacion_id_grado_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_id_grado_det_line {height:0px;text-align: right;}
.css_t_evaluacion_eval_1_per_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_eval_1_per_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc2_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc2_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc3_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc3_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc4_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc4_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc5_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc5_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc6_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc6_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc7_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc7_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc8_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc8_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc9_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc9_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc10_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc10_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc11_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc11_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dc12_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dc12_det_line {height:0px;text-align: right;}
.css_t_evaluacion_pcent_dc_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_pcent_dc_det_line {height:0px;text-align: right;}
.css_t_evaluacion_ds1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_ds1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_ds2_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_ds2_det_line {height:0px;text-align: right;}
.css_t_evaluacion_ds3_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_ds3_det_line {height:0px;text-align: right;}
.css_t_evaluacion_ds4_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_ds4_det_line {height:0px;text-align: right;}
.css_t_evaluacion_letras_p1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_letras_p1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_ds5_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_ds5_det_line {height:0px;text-align: right;}
.css_t_evaluacion_pcent_ds_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_pcent_ds_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dp1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dp1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dp2_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dp2_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dp3_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dp3_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dp4_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dp4_det_line {height:0px;text-align: right;}
.css_t_evaluacion_dp5_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_dp5_det_line {height:0px;text-align: right;}
.css_t_evaluacion_pcent_dp_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_pcent_dp_det_line {height:0px;text-align: right;}
.css_t_evaluacion_aeep1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_aeep1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_porcent_aeep1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_porcent_aeep1_det_line {height:0px;text-align: right;}
.css_t_evaluacion_inasistencia_p1_det_label {text-align: right;vertical-align: middle;}
.css_t_evaluacion_inasistencia_p1_det_line {height:0px;text-align: right;}
