.css_id_docente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_docente_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_sec_users_login_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sec_users_login_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_peso_asig_fre_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_peso_asig_fre_area_grid_line {vertical-align: top;text-align: right;}
.css_t_grupos_entorno_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_grupos_entorno_grid_line {vertical-align: top;text-align: center;}
