.css_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_area_grid_line {vertical-align: top;text-align: left;}
.css_nombre_corto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_corto_grid_line {vertical-align: top;text-align: left;}
.css_id_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_area_grid_line {vertical-align: top;text-align: right;}
