.css_id_area_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_area_grid_line {vertical-align: top;text-align: left;}
.css_eval_periodo1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_eval_periodo1_grid_line {text-align: center;}
.css_desem_area_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_desem_area_grid_line {text-align: center;}
.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
