.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_t_estudiante_grupo_idstudent_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_estudiante_grupo_idstudent_grid_line {vertical-align: top;text-align: right;}
.css_students_tipo_identificacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_tipo_identificacion_grid_line {vertical-align: top;text-align: right;}
.css_students_numero_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_students_numero_documento_grid_line {vertical-align: top;text-align: right;}
