.css_id_modelo_det_label {text-align: right;vertical-align: middle;}
.css_id_modelo_det_line {height:0px;text-align: right;}
.css_modelo_det_label {text-align: right;vertical-align: middle;}
.css_modelo_det_line {height:0px;text-align: right;}
.css_documento_det_label {text-align: right;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: right;}
