.css_t_evaluacion_id_estudiante_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_estudiante_det_line {height:0px;text-align: left;}
.css_t_evaluacion_primer_apellido_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_primer_apellido_det_line {height:0px;text-align: left;}
.css_t_evaluacion_segundo_apellido_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_segundo_apellido_det_line {height:0px;text-align: left;}
.css_t_evaluacion_primer_nombre_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_primer_nombre_det_line {height:0px;text-align: left;}
.css_t_evaluacion_segundo_nombre_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_segundo_nombre_det_line {height:0px;text-align: left;}
.css_t_grupos_id_sede_det_label {text-align: left;vertical-align: middle;}
.css_t_grupos_id_sede_det_line {height:0px;text-align: left;}
.css_t_grupos_id_director_grupo_det_label {text-align: left;vertical-align: middle;}
.css_t_grupos_id_director_grupo_det_line {height:0px;text-align: left;}
.css_t_grupos_jornada_det_label {text-align: left;vertical-align: middle;}
.css_t_grupos_jornada_det_line {height:0px;text-align: left;}
.css_t_evaluacion_id_grupo_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_grupo_det_line {height:0px;text-align: left;}
.css_t_evaluacion_id_area_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_area_det_line {height:0px;text-align: left;}
.css_t_evaluacion_id_asignatura_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_asignatura_det_line {height:0px;text-align: left;}
.css_t_evaluacion_id_grado_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_grado_det_line {height:0px;text-align: left;}
.css_t_evaluacion_id_nivel_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_id_nivel_det_line {height:0px;text-align: left;}
.css_t_evaluacion_ihs_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_ihs_det_line {height:0px;text-align: left;}
.css_t_evaluacion_pfa_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_pfa_det_line {height:0px;text-align: left;}
.css_t_evaluacion_tipo_asig_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_tipo_asig_det_line {height:0px;text-align: left;}
.css_t_evaluacion_novedad_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_novedad_det_line {height:0px;text-align: left;}
.css_t_evaluacion_estatus_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_estatus_det_line {height:0px;text-align: left;}
.css_t_evaluacion_inasistencia_p1_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_inasistencia_p1_det_line {height:0px;text-align: left;}
.css_t_evaluacion_entorno_det_label {text-align: left;vertical-align: middle;}
.css_t_evaluacion_entorno_det_line {height:0px;text-align: left;}
