.css_oculto_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_oculto_grid_line {text-align: center;}
.css_certificado_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_certificado_grid_line {text-align: center;}
.css_recuperacion_grid_line {text-align: center;}
