.css_jornada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_jornada_grid_line {vertical-align: top;text-align: left;}
.css_id_sede_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_sede_grid_line {vertical-align: top;text-align: right;}
.css_asignaturas_grid_line {text-align: center;}
