.css_L1C1_label {text-align:center;vertical-align:middle;}
.css_L2C1_label {}
.css_L2C2_label {}
.css_L2C3_label {text-align:center;vertical-align:middle;}
.css_L2C4_label {text-align:center;vertical-align:middle;}
.css_L2C5_label {text-align:center;vertical-align:middle;}
.css_L2C6_label {text-align:center;vertical-align:middle;}
.css_L2C7_label {}
.css_id_asignatura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: left;}
.css_ihs_vac_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_ihs_vac_grid_line {text-align: right;}
.css_eval_1_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_eval_1_per_grid_line {vertical-align: top;text-align: right;}
.css_sup_p1_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sup_p1_grid_line {text-align: right;}
.css_eval_2_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_eval_2_per_grid_line {vertical-align: top;text-align: right;}
.css_sup_p2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sup_p2_grid_line {text-align: right;}
.css_eval_3_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_eval_3_per_grid_line {vertical-align: top;text-align: right;}
.css_sup_p3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sup_p3_grid_line {text-align: right;}
.css_eval_4_per_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_eval_4_per_grid_line {vertical-align: top;text-align: right;}
.css_sup_p4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_sup_p4_grid_line {text-align: left;}
.css_fea_re_ac_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fea_re_ac_grid_line {text-align: left;}
.css_definitiva_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_definitiva_grid_line {text-align: right;}
.css_vac_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vac_grid_line {text-align: right;}
.css_vra_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_vra_grid_line {text-align: center;}
.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: left;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: left;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: left;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: left;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
