.css_t_grupos_id_grupo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_grupos_id_grupo_grid_line {vertical-align: top;text-align: center;}
.css_t_grupos_id_grado_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_grupos_id_grado_grid_line {vertical-align: top;text-align: center;}
.css_t_grupos_nombre_grupo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_t_grupos_nombre_grupo_grid_line {vertical-align: top;text-align: center;}
.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_t_grupos_jornada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_grupos_jornada_grid_line {vertical-align: top;text-align: left;}
