.css_id_estudiante__label {text-align:right;}
.css_id_estudiante__line {text-align:left;}
.css_id_estudiante__obj {text-align:left;}
.css_eval_1_per__label {font-size:10px;text-align:right;width:20px;}
.css_eval_1_per__line {font-size:12px;text-align:left;width:25px;}
.css_eval_1_per__obj {font-size:12px;text-align:left;width:25px;}
.css_nota_supe_p1__label {font-size:10px;text-align:right;vertical-align:middle;width:5px;}
.css_nota_supe_p1__line {text-align:left;}
.css_nota_supe_p1__obj {text-align:left;}
.css_nota_perdio_p1__label {font-size:10px;text-align:right;width:5px;}
.css_nota_perdio_p1__line {font-size:12px;text-align:left;width:25px;}
.css_nota_perdio_p1__obj {text-align:left;}
