.css_estudiantes_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_estudiantes_grid_line {text-align: right;}
.css_desempeno_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_desempeno_grid_line {font-size:10px;text-align: right;}
.css_evaluar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluar_grid_line {text-align: center;}
.css_evaluardc2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluardc2_grid_line {text-align: center;}
.css_evaluardc3_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluardc3_grid_line {text-align: center;}
.css_evaluardc4_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluardc4_grid_line {text-align: center;}
.css_evaluardc5_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluardc5_grid_line {text-align: center;}
.css_id_estudiante_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: right;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: right;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: right;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
