.css_grupo_x_asig_x_doce_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_asignatura_grid_line {vertical-align: top;text-align: left;}
.css_grupo_x_asig_x_doce_intensidad_horaria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_intensidad_horaria_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_peso_asig_fre_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_peso_asig_fre_area_grid_line {vertical-align: top;text-align: right;}
.css_evaluar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_evaluar_grid_line {text-align: center;}
.css_desempeno_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_desempeno_grid_line {text-align: center;}
.css_criterios_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_criterios_grid_line {text-align: center;}
.css_otro_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_otro_grid_line {text-align: center;}
.css_grupo_x_asig_x_doce_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_grupo_x_asig_x_doce_id_docente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grupo_x_asig_x_doce_id_docente_grid_line {vertical-align: top;text-align: right;}
.css_docentes_login_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_docentes_login_grid_line {vertical-align: top;text-align: left;}
