.css_id_actividad_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_actividad_grid_line {vertical-align: top;text-align: right;}
.css_actividad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_actividad_grid_line {vertical-align: top;text-align: right;}
.css_codigo_desemp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_codigo_desemp_grid_line {vertical-align: top;text-align: right;}
.css_posicion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_posicion_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
