.css_id_actividad_det_label {text-align: left;vertical-align: middle;}
.css_id_actividad_det_line {height:0px;text-align: left;}
.css_actividad_det_label {text-align: left;vertical-align: middle;}
.css_actividad_det_line {height:0px;text-align: left;}
.css_codigo_desemp_det_label {text-align: left;vertical-align: middle;}
.css_codigo_desemp_det_line {height:0px;text-align: left;}
.css_posicion_det_label {text-align: left;vertical-align: middle;}
.css_posicion_det_line {height:0px;text-align: left;}
.css_id_asignatura_det_label {text-align: left;vertical-align: middle;}
.css_id_asignatura_det_line {height:0px;text-align: left;}
.css_id_grupo_det_label {text-align: left;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: left;}
.css_id_estudent_det_label {text-align: left;vertical-align: middle;}
.css_id_estudent_det_line {height:0px;text-align: left;}
.css_eval_det_label {text-align: left;vertical-align: middle;}
.css_eval_det_line {height:0px;text-align: left;}
.css_porcentaje_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_det_line {height:0px;text-align: left;}
.css_entorno_det_label {text-align: left;vertical-align: middle;}
.css_entorno_det_line {height:0px;text-align: left;}
