.css_id_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_id_grupo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grupo_grid_line {vertical-align: top;text-align: right;}
.css_id_periodo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_periodo_grid_line {vertical-align: top;text-align: right;}
.css_id_director_grupo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_director_grupo_grid_line {vertical-align: top;text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: right;}
.css_id_informe_general_periodo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_informe_general_periodo_grid_line {vertical-align: top;text-align: right;}
