.css_id_informe_general_periodo_det_label {text-align: left;vertical-align: middle;}
.css_id_informe_general_periodo_det_line {height:0px;text-align: left;}
.css_id_estudiante_det_label {text-align: left;vertical-align: middle;}
.css_id_estudiante_det_line {height:0px;text-align: left;}
.css_id_grupo_det_label {text-align: left;vertical-align: middle;}
.css_id_grupo_det_line {height:0px;text-align: left;}
.css_id_periodo_det_label {text-align: left;vertical-align: middle;}
.css_id_periodo_det_line {height:0px;text-align: left;}
.css_id_director_grupo_det_label {text-align: left;vertical-align: middle;}
.css_id_director_grupo_det_line {height:0px;text-align: left;}
.css_observaciones_det_label {text-align: left;vertical-align: middle;}
.css_observaciones_det_line {width:350;height:0px;text-align: left;}
