.css_t_asignaturas_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_ihs_grid_line {text-align: right;}
.css_c_evaluacion_evaluacion_grid_line {vertical-align: top;text-align: right;}
.css_desempeno_grid_line {text-align: right;}
