.css_codigo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_codigo_grid_line {vertical-align: middle;text-align: left;}
.css_periodos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_periodos_grid_line {vertical-align: middle;text-align: left;}
.css_superior_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_superior_grid_line {vertical-align: middle;text-align: left;}
.css_id_grado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grado_grid_line {vertical-align: top;text-align: right;}
.css_id_area_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_area_grid_line {vertical-align: top;text-align: right;}
.css_id_asignatura_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_asignatura_grid_line {vertical-align: top;text-align: right;}
.css_id_clas_chs_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_clas_chs_grid_line {vertical-align: top;text-align: right;}
