.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_id_grado_det_label {text-align: right;vertical-align: middle;}
.css_id_grado_det_line {height:0px;text-align: right;}
.css_id_area_det_label {text-align: right;vertical-align: middle;}
.css_id_area_det_line {height:0px;text-align: right;}
.css_id_asignatura_det_label {text-align: right;vertical-align: middle;}
.css_id_asignatura_det_line {height:0px;text-align: right;}
.css_id_clas_chs_det_label {text-align: right;vertical-align: middle;}
.css_id_clas_chs_det_line {height:0px;text-align: right;}
.css_periodos_det_label {text-align: right;vertical-align: middle;}
.css_periodos_det_line {height:0px;text-align: right;}
.css_superior_det_label {text-align: right;vertical-align: middle;}
.css_superior_det_line {width:450;height:0px;text-align: right;}
.css_alto_det_label {text-align: right;vertical-align: middle;}
.css_alto_det_line {height:0px;text-align: right;}
.css_basico_det_label {text-align: right;vertical-align: middle;}
.css_basico_det_line {height:0px;text-align: right;}
.css_bajo_det_label {text-align: right;vertical-align: middle;}
.css_bajo_det_line {height:0px;text-align: right;}
