.css_id_modelo_det_label {text-align: left;vertical-align: middle;}
.css_id_modelo_det_line {height:0px;text-align: left;}
.css_modelo_det_label {text-align: left;vertical-align: middle;}
.css_modelo_det_line {height:0px;text-align: left;}
.css_documento_det_label {text-align: left;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: left;}
